---
import '../styles/global.css'
import './layout.css'
import { Navbar, Footer } from '../components'

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - Club de Running</title>
  </head>
  <body>
    <header>
      <h1>Club de Running</h1>
      <Navbar />
    </header>

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
